/* =========================================
   APP CONTAINER
========================================= */

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* =========================================
   CONTENT CONTAINER
========================================= */

.content-container {
  width: 100%;
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}


/* =========================================
   MAIN CONTENT
========================================= */

.main-content {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 24px;
}